body{
	font-family: Arial, sans-serif;
	background: #f9f9f9;
	user-select: none;
}

.wrapper{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.tabs{
	width: 100%;
	height: 50px;
	/* float: left; */
	display: block;
	border-bottom: solid 1px #ccc;
	margin-bottom: 10px;
}

.tabs li{
	float: left;
	width: 250px;
	height: 30px;
	text-align: center;
	padding: 10px;
	list-style: none;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 30px;
	/* background: #ececec; */
	/* border-bottom: solid 1px #c7c7c7; */
	cursor: pointer;
}

.name{
	width: 40%;
	float: left;
	height: 70px;
	text-transform: uppercase;
	text-align: left;
	padding-left: 10px;
}

.timer{
	float: right;
}

.header{width: 100%;height: 90px;display: block;overflow: hidden;}

.days{width: 910px;}

.days li{
	width: 117px;
	height: 110px;
	float: left;
	margin-right: 11px;
	margin-bottom: 10px;
	color: #000;
	border: solid 1px #e6e6e6;
	border-radius: 4px;
	box-shadow: 0px 0px 10px #ddd;
	text-align: center;
	line-height: 90px;
	list-style: none;
	font-size: 50px;
	background: #fff;
	cursor: pointer;
	position: relative;
}

.days li small{
	font-size: 12px;
	position: absolute;
	bottom: 21px;
	height: 12px;
	width: 100%;
	left: 0px;
	z-index: 100;
	line-height: 11px;
}

.active{
	background: #00c700 !important;
	color: #fff !important;
	text-shadow: 0px 2px 5px #058200;
}

.timer h3{
	height: 70px;
	font-size: 50px;
	float: left;
	line-height: 70px;
	padding: 0px;
	margin: 0px;
	margin-right: 50px;
}

button{
	background: #007aab;
	text-align: center;
	border: none;
	font-size: 30px;
	padding: 10px 20px;
	color: #fff;
	border-radius: 3px;
	height: 70px;
	width: 128px;
	cursor: pointer;
	outline: none;
}

.bar{
	width: 100%;
	height: 10px;
	background: #eee;
	margin-bottom: 20px;
}

.fill{
	background: #09c702;
	height: 10px;
}